<ons-page>
  <ons-toolbar>
    <div class="center">Dashboard</div>
  </ons-toolbar>
  <div class="page__background"></div>
  <div class="content" class="initial-page">
    <div class="p-1">
      <ons-scroller style="height: 100vh; width: 100%">
        <router-outlet/>
      </ons-scroller>      
    </div>
  </div>  
  <ons-tabbar>
    <div class="tabbar bg-white">
      <ons-tab label="Dashboard" icon="ion-ios-home" routerLink="home"></ons-tab>
      <ons-tab label="Transactions" icon="exchange"></ons-tab>
      <ons-tab label="Add" icon="md-plus" active></ons-tab>
      <ons-tab label="Budget" icon="wallet"></ons-tab>      
      <ons-tab label="Settings" icon="md-settings"></ons-tab>
    </div>
  </ons-tabbar>
</ons-page>