/* You can add global styles to this file, and also import other style files */


.ons-tabbar {
  position: fixed !important;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
