.income-text{
    font-size: 20px;
    color: #64ff64;
}
.expense-text{
    font-size: 20px;
    color: #ff5252;
}
.this-month-card{
    background-color: #efeffb;
    border: none;
}
.category-card{
    border: none;
}